@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* shared style */

.secondary-bg{
    background-color: #FFF8F3;
}
.text-primary{
    color:#FD6E0A;
}
.dark-2{
    color: #474747;
    font-weight: bold;
}
.dark-1{
    color: #757575;
    font-weight: bold;
}
.dark-1-1{
    color: #757575;
}
.btn-primary{
    background-color: #FD6E0A;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 18px 35px 19px 36px;
    border-radius: 5px;
    border: none;

}
.header{
    background-image: url(../images/developer.png),url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
   
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.section-description{
    font-size: 18px;
    font-weight: 400;
    color: #757575;
}
.text-center{
    text-align: center;
}
/* Nav style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 100px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
    margin-left: 20px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav ul a{
    text-decoration: none;
    font-size: 20px;
}
/* banner style */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0px 35px 0px 100px;
}
.banner-content{
    max-width: 600px;
    margin-left: 20px;
}
.banner-greetings{
    font-size: 45px;
    font-weight:600;
}
.banner-title{
    font-size: 75px;
    font-weight: bold;
}
.banner-discription{
    font-size: 18px;
    font-weight: 400px;
}
.banner-profile-pic{
    width: 500px;
    height: 676px;
}
/* main style */
main{
    max-width: 1140px;
    margin: 0 auto;
    
}
/* about style */
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}
.about{
    padding: 131px 157px;
    text-align: center;
    border-radius: 10px;
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.about-title{

}
/* skills section */
.skills-container{
    display: flex;
     gap: 24px;
     
}
.skills{
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}
.skill-description{
   
}
.section-description{
    margin-left: 90px;
    margin-right: 90px;
    font-size: 18px;
    font-weight:400;
}
/* skill resume section */
.resume-title{
    text-align: center;
    color: #181818;
    font-size: 35px;
    font-weight: bold;
}
.resume-container{
    display: flex;
    gap: 24px;
}
.resume-colum-title{
    font-size: 30px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 30px;
}
.experience-title{
    font-size: 25px;
    font-weight: bold;
    color:#474747;
    margin-bottom: 10px;
}
.experience-subtitle{
    font-size: 20px;
    font-weight: 600;
    color: #757575;
    margin-bottom: 20px;
}
.experience-description{
    font-size: 16px;
    font-weight: 400;
    color: #757575;
}
.resume hr{
    margin: 30px 5px;
}
.resume-download-CV{
    margin-top: 50px;
}

